body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

#home {
    background: url(../img/slide1.JPG) no-repeat center center;
    display: table;
    height: 100%;
    /*position: relative;*/
    width: 100%;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
    opacity: 0.85;
}


#about {
  color: #666;
  background-color:white;
  padding:50px 0px;
  text-align: left;
}
#about h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
#about p {
  padding: 20px 20px;
  font-size: 18px;
}
#about .sign {
  text-align: right;
  font-style: italic;
  color: #00B8D4;
}
#about .sign a{
  color: inherit;
}

#information {
    font-family: 'Raleway', sans-serif;
    background: url(../img/slide2.JPG) no-repeat center center;
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay-md {
    background-color: #000;
    opacity: 0.65;
    border: none;
    color: #FFF;
    padding: 40px;
    margin: 80px 0;
    font-size: 18px;
}

.maintext h2{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #555;
  margin-bottom: 40px;
}
.maintext p,
.maintext ul,
.maintext h4,
.maintext .twitter-timeline{
  font-family: 'Raleway', sans-serif;
}


/*Concerts*/

.concerts{
  margin: 40px 0;
}
.concerts li{
  list-style-type: none;
  color: #333;
  padding: 20px;
  border-bottom: 1px solid #EEE;
}
.concerts li a{
  color: #00B8D4;
  border-bottom: 1px dotted #777;
  text-decoration: none;
}
.concerts li .date{
  font-weight: bold;
}
.concerts li .title{
  color: #00B8D4;
  font-size: 18px;
}
.concerts li .about{

}
.concerts li .more{
  display: inline-block;
  float: right;
}


/*Social*/

.social .social-icons{
  text-align: center;
  margin: 40px 0;
}
.social .social-icons img{
  width: 40px;
  margin: 0 20px;
}
.social .twitter-block{
  margin: 50px auto;
  text-align: center;
}

/*Gallery*/

#gallery{
  margin-bottom: 100px;
  text-align: center;
}
#gallery img{
  /*height: 300px;*/
  width: 100%;
  margin: 0 auto;
}
#gallery img.portrait{
  /*max-width: 16.66%;*/
}


/*Contact*/

#contact{
  text-align: center;
  margin-bottom: 100px;
}

/*General*/
.blue{
  color: #00B8D4; 
}
.clear-paddings{
  padding: 0;
}
.clear-margins{
  margin: 0;
}
.gap-below{
  margin-bottom: 40px;
}
#profile{
  color: #333;
  padding: 40px 100px;
}
#profile h4{
  color: #00B8D4; 
  margin-top: 40px;
}
#profile h4:first-of-type{
  margin-top: 0px;
}

@media(min-width:768px) {
  #home, #information{
    background-attachment: fixed;
 }
}